
body{
  text-align: center;
  line-height: 2;
  }

/* navbar */

.navbar-item, .navbar{
  padding: 0 18px;
  font-weight: bold;
}

.navbar-brand{
  font-size: 30px;
}

.grad{
  background-image: linear-gradient(45deg, #f4f4f4, #8ec6c5, #6983aa, #8566aa);
  }


  .title-row{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    padding: 7% 0;
    margin: 12% auto;
  }

  .heading{
  color: #8ec6c5;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 3%;
  }


  .sub-heading{
    color: #ac8daf;
    font-family: cursive;
    font-size: 30px;
  }

/* title */

.container-fluid{
  margin: 0 auto 5% auto;
}

h2{
  color: #2a7886;
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
  padding: 20px 0;
}

  h3{
    margin: 0 auto;
    color: #679b9b;
  font-family: 'Andika';
  font-size: 20px;
  width: 60%;
    padding-top: 10px;
    }


  p{
    font-size: 50px;
    font-family: 'Comic Neue', cursive;
    color: #484c7f;
    font-weight: bold;
    margin: 0 auto;
    padding: 25px 0;
  }


.background{
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 100%;
  padding: 0 0;
  }

.container-fluid{
    padding: 0 0;
}


.divide{
  border: dotted #f1d1d1 6px;
  border-width: thick;
  width: 5%;
  border-bottom: none;
}


.logo1{
  height: 130px;
  width: 130px;
  padding-top: 20px;
  }


 /* mid */

.working{
  height: 180px;
  width: 220px;
  margin-bottom: 30px;
}

.developericon{
  height: 220px;
  width: 220px;
}

.designicon{
  height: 220px;
  width: 220px;
}

.color-structure, .color-structure1{
  padding: 25px 0;
}

.color-structure1{
  margin-top: 10px;
}

.hello{
  height: 120px;
  width: 220px;
}

.btn{
  margin: 3%;
}

/* footer */

.footer, .copyright{
  font-family: serif;
  color: grey;
  background-color: #d8b9c3;
  margin: 0 auto;
}


.footer-icon, .copyright{
  font-size: 15px;
  padding: 0 10px;
  }

.footer-icon:hover{
  color: #dbdbdb;
}

/* media query */

@media (max-width: 1020px) {
 .container-fluid{
  margin: 0 auto 5% auto;
  width: inherit;
}
  .background{
    height: 400px;
    width: 100%;
    padding: 0 0;
    }
  h3{
    font-size: 30px;
  }
   h2{
    font-size: 40px;
  }
   p{
    font-size: 60px;
     margin-top: 5%;
  }
  .navbar-brand{
    font-size: 30px;
 }
  
  .navbar-item{
    font-size: 20px;
 }
  .footer-icon, .copyright{
  font-size: 15px;
  padding: 0 10px;
  }
}
